<% if @comment.errors.any? %>
  <ul>
    <% @comment.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
<% end %>
<h1>Title: <%= @post.title %></h1>

<%= form_with model: @comment, url: post_comments_path(@post) do |form| %>
  <div>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>